services:
    router:
        class: Wame\RouterModule\Routers\Router


    # Repositories
    RouterRepository:
        class: Wame\RouterModule\Repositories\RouterRepository
        inject: yes


    # Registers
    defaultRoutesRegister:
        class: Wame\RouterModule\Registers\DefaultRoutesRegister
    slugHandlersRegister:
        class: Wame\RouterModule\Registers\FilterHandlersRegister


    # Listener
    - {class: Wame\RouterModule\Filter\FilterListener, tags: [kdyby.subscriber]}


    # Commands
    updateDefaultRoutesCommand:
        class: Wame\RouterModule\Commands\UpdateDefaultRoutesCommand
        tags: [kdyby.console.command]



extensions:
    router: Wame\RouterModule\DI\Extension



doctrine:
    metadata:
        Wame\RouterModule\Entities: %appDir%/../vendor/wame/RouterModule/entities