services:
    router:
        class: Wame\RouterModule\Routers\Router

    PermissionObject:
        setup:
            - addResource('router')
            - addResourceAction('router', 'view')
            - allow('admin', 'router', 'view')
            - addResourceAction('router', 'add')
            - allow('admin', 'router', 'add')
            - addResourceAction('router', 'edit')
            - allow('admin', 'router', 'edit')
            - addResourceAction('router', 'delete')
            - allow('admin', 'router', 'delete')

    # Repositories
    RouterRepository:
        class: Wame\RouterModule\Repositories\RouterRepository
        inject: yes

    # Registers
    defaultRoutesRegister:
        class: Wame\RouterModule\Model\DefaultRoutesRegister
    slugHandlersRegister:
        class: Wame\RouterModule\Registers\FilterHandlersRegister

    # Listener
    - {class: Wame\RouterModule\Filter\FilterListener, tags: [kdyby.subscriber]}

    # Commands
    updateDefaultRoutesCommand:
        class: Wame\RouterModule\Commands\UpdateDefaultRoutesCommand
        tags: [kdyby.console.command]

extensions:
    router: Wame\RouterModule\DI\Extension

doctrine:
    metadata:
        Wame\RouterModule\Entities: %appDir%/../vendor/wame/RouterModule/entities