services:
	router:
		class: Wame\RouterModule\Routers\Router

	PermissionObject:
		setup:
			- addResource('router')
			- addResourceAction('router', 'view')
			- allow('admin', 'router', 'view')
			- addResourceAction('router', 'add')
			- allow('admin', 'router', 'add')
			- addResourceAction('router', 'edit')
			- allow('admin', 'router', 'edit')
			- addResourceAction('router', 'delete')
			- allow('admin', 'router', 'delete')

	# Repositories
	- Wame\RouterModule\Repositories\RouterRepository

	# Registers
	defaultRoutesRegister:
		class: Wame\RouterModule\Model\DefaultRoutesRegister


doctrine:
	metadata:
		Wame\RouterModule\Entities: %appDir%/../vendor/wame/RouterModule/entities